<div class="container margin-top">

    <div class="title">
    <h2>Event info and ticket sale</h2>
    </div>
    <div class="links mt-4">
        <ul>
            <li><a class="m-4" href="tickets">Tickets</a></li>
            <li><a class="m-4" href="events">Events</a></li>
        </ul>
    </div>
</div>