<div class="container margin-top">

    <div class="title">
        <h2>Event info and ticket sale</h2>
    </div>
    
    <div class="links mt-4 pt-4">
        <ul>
            <li><a href="tickets">Tickets</a></li>
            <br/>
            <li><a href="events">Events</a></li>
        </ul>
    </div>
    
</div>

