<div class="container margin-top">
<div class="wrapper flex-center">
<div class="events">
<ul class="text-left">
<% for event in events %>
    <li><%= link_to event.artist, "/events/#{event.id}" %></li>
  <% end %> </ul>
</div>

</div>
